<div class="mt-20 bg-secondary text-secondary-content p-10 grid grid-cols-1 sm:grid-cols-2 items-center justify-center">
    <div class="flex flex-col">
        <p class="text-2xl">About Me</p>
        <div class="divider divider-vertical divider-accent"></div>
        <p>{{'footer.aboutMe' | translate }}</p>
    </div>
    <div class="flex flex-col justify-center text-lg ml-20 gap-4">
        <div class="flex flex-row">
            <i>📍</i> <p class="ml-2">São Paulo, Brasil</p>
        </div>
        <div class="flex flex-row">
            <i>📧</i> <p class="ml-2 font-sans">pedrovitormlopes&#64;gmail.com</p>
        </div>
        <div class="flex flex-row">
            <i>📱</i> <p class="ml-2 font-sans">+55 (11) 952304438</p>
        </div>
        <div class="flex flex-row">
            <a href="https://github.com/PedroVMLopes" target="_blank" rel="noopener noreferrer">github.com/PedroVMLopes</a>
        </div>
        <div class="flex flex-row">
            <a href="https://www.linkedin.com/in/pedro-vitor-miranda-lopes-343056185/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </div>
    </div>
</div>
