<div class="sm:p-2 h-12 sm:h-16 w-full flex flex-row justify-end rounded-box">
    <div class="flex flex-row sm:join fixed z-100 top-0 left-0 sm:top-2 sm:left-2">
        <div id="menu" class="join-item dropdown dropdown-hover dropdown-end p-2 bg-secondary text-secondary-content items-center h-full rounded-r-xl">
            <div tabindex="0" role="button" class="w-full h-full content-center text-center"><p class="paprika text-2xl px-1 pr-2 cursor-pointer">PV</p></div>
            <div tabindex="0" class="dropdown-content dropdown menu gap-4 shadow-xl py-6 px-1.5 flex items-center text-center w-full bg-secondary rounded-b-lg">
                <a href="https://github.com/PedroVMLopes" target="_blank">
                    <li class="tooltip tooltip-right tooltip-secondary w-8 pt-1" data-tip="GitHub">
                        <fa-icon class="text-secondary-content text-3xl p-0" [icon]="faGithub"></fa-icon>
                    </li>
                </a>
                <a href="https://www.linkedin.com/in/pedro-vitor-miranda-lopes-343056185/" target="_blank">
                    <li class="tooltip tooltip-right tooltip-secondary w-8 pt-1" data-tip="LinkedIn">
                        <fa-icon class="text-secondary-content text-3xl p-0" [icon]="faLinkedin"></fa-icon>
                    </li>
                </a>
                <li class="tooltip tooltip-right tooltip-secondary w-8 pt-1" data-tip="+55 11 952304438" (click)="copyPhoneNumber()">
                    <fa-icon class="text-secondary-content text-3xl p-0" [icon]="faWhatsapp"></fa-icon>    
                </li>
                <li class="tooltip tooltip-right tooltip-secondary w-8 pt-1" data-tip="pedrovitormlopes@gmail.com" (click)="copyEmail()">
                    <fa-icon class="text-secondary-content text-3xl p-0" [icon]="faEnvelope"></fa-icon>    
                </li>
            </div>
        </div>
        <div id="lenguageChanger" class="join-item content-center bg-base-100 sm:bg-base-200 sm:border-l-2 sm:border-t-2 sm:border-b-[6px] sm:border-r-[6px] sm:border-secondary rounded-xl sm:shadow-md px-2">
            <label class="swap swap-flip text-xl min-w-[45px]">
                <!-- this hidden checkbox controls the state -->
                <input type="checkbox" [checked]="isEnglish" (change)="toggleLanguage()" />
                <div class="swap-on flex"><img class="w-10 h-full rounded-lg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/960px-Flag_of_Brazil.svg.png?20240809055211"></div>
                <div class="swap-off flex"><img class="w-10 h-full rounded-lg" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/960px-Flag_of_the_United_Kingdom.svg.png?20190917170937"></div>
            </label>
        </div>
    </div>

    <div class="toast" *ngIf="showToast">
        <div class="alert alert-success">
          <span>{{'copiedToClipboard' | translate }}</span>
        </div>
    </div>

    <div id="availableForHire" class="flex flex-row">
        <div class="flex items-center sm:font-semibold cursor-default sm:border-l-2 sm:border-t-2 sm:border-b-[6px] sm:border-r-[6px] sm:border-secondary sm:rounded-box p-3 py-0 w-fit bg-base-100 sm:bg-base-200 sm:shadow-lg">
            <label class="toggle toggle-xs mr-1 mt-0.5 cursor-default">
                <input type="checkbox" checked="checked" class="checked:bg-green-700 rounded-full" disabled>
                <svg aria-label="disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                <svg aria-label="enabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="4" fill="none" stroke="currentColor"><path d="M20 6 9 17l-5-5"></path></g></svg>
            </label>
            <p class="">{{'isAvailableText' | translate }}</p>
        </div>
    </div>
</div>
