<div class="sm:p-2 h-12 sm:h-16 w-full flex flex-row justify-end rounded-box">
    <div class="flex flex-row sm:join fixed z-100 top-0 left-0 sm:top-2 sm:left-2">
        <div id="menu" class="join-item dropdown dropdown-hover dropdown-end p-2 bg-secondary text-secondary-content items-center h-full rounded-r-xl">
            <div tabindex="0" role="button" class="w-full h-full content-center text-center"><p class="paprika text-2xl px-1 pr-2 cursor-pointer">PV</p></div>
            <div tabindex="0" class="dropdown-content dropdown menu gap-4 shadow-xl py-6 px-1.5 flex items-center text-center w-full bg-secondary rounded-b-lg">
                <a href="https://github.com/PedroVMLopes" target="_blank">
                    <li class="tooltip tooltip-right tooltip-secondary w-8 pt-1" data-tip="GitHub">
                        <fa-icon class="text-secondary-content text-3xl p-0" [icon]="faGithub"></fa-icon>
                    </li>
                </a>
                <a href="https://www.linkedin.com/in/pedro-vitor-miranda-lopes-343056185/" target="_blank">
                    <li class="tooltip tooltip-right tooltip-secondary w-8 pt-1" data-tip="LinkedIn">
                        <fa-icon class="text-secondary-content text-3xl p-0" [icon]="faLinkedin"></fa-icon>
                    </li>
                </a>
                <li class="tooltip tooltip-right tooltip-secondary w-8 pt-1" data-tip="+55 11 952304438" (click)="copyPhoneNumber()">
                    <fa-icon class="text-secondary-content text-3xl p-0" [icon]="faWhatsapp"></fa-icon>    
                </li>
                <li class="tooltip tooltip-right tooltip-secondary w-8 pt-1" data-tip="pedrovitormlopes@gmail.com" (click)="copyEmail()">
                    <fa-icon class="text-secondary-content text-3xl p-0" [icon]="faEnvelope"></fa-icon>    
                </li>
            </div>
        </div>
        <div id="lenguageChanger" class="join-item bg-base-100 content-center sm:bg-base-200 sm:border-l-2 sm:border-t-2 sm:border-b-[6px] sm:border-r-[6px] sm:border-secondary rounded-xl sm:shadow-md px-2">
            <label class="swap swap-flip text-xl min-w-[45px]">
                <!-- this hidden checkbox controls the state -->
                <input type="checkbox" [checked]="isEnglish" (change)="toggleLanguage()" />
                <div class="swap-on flex"><img class="w-10 h-full rounded-lg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Flag_of_Brazil.svg/960px-Flag_of_Brazil.svg.png?20240809055211"></div>
                <div class="swap-off flex"><img class="w-10 h-full rounded-lg" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/960px-Flag_of_the_United_Kingdom.svg.png?20190917170937"></div>
            </label>
        </div>
    </div>

    <div class="toast" *ngIf="showToast">
        <div class="alert alert-success">
          <span>{{'copiedToClipboard' | translate }}</span>
        </div>
    </div>

    <label class="swap swap-rotate">
        <!-- this hidden checkbox controls the state -->
        <input type="checkbox" class="theme-controller" value="portfolio" (change)="toggleTheme($event)"/>
      
        <!-- sun icon -->
        <svg
          class="swap-off h-8 w-8 m-2 sm:mr-4 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <path
            d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
        </svg>
      
        <!-- moon icon -->
        <svg
          class="swap-on h-8 w-8 m-2 sm:mr-4 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24">
          <path
            d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
        </svg>
    </label>

    <div id="availableForHire" class="flex flex-row font-sans">
        <div class="flex items-center font-semibold cursor-default sm:border-l-2 sm:border-t-2 sm:border-b-[6px] sm:border-r-[6px] sm:border-secondary rounded-l-box sm:rounded-box p-3 py-0 w-fit sm:bg-base-200 sm:shadow-lg">
            <label class="toggle toggle-xs mr-1 mt-0.5 cursor-default">
                <input type="checkbox" checked="checked" class="checked:bg-green-700 rounded-full" disabled>
                <svg aria-label="disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
                <svg aria-label="enabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="4" fill="none" stroke="currentColor"><path d="M20 6 9 17l-5-5"></path></g></svg>
            </label>
            <p>{{'isAvailableText' | translate }}</p>
        </div>
    </div>
</div>
