<div id="tabletop" class="mt-16 mb-80 p-4 backgroundTabletop rounded-md">
    <div class="justify-center gap-4 grid grid-cols-1 md:m-[2%] lg:m-[8%]">
        <div id="tabletopCard_top" class="rounded-3xl p-4 px-2 sm:p-6 md:px-10 flex flex-col lg:flex-row-reverse shadow-xl bg-base-100 border-2 border-secondary ">
            <div class="w-full flex justify-center"><img class="max-w-[280px] rounded-full" src="https://i.imgur.com/zGkhIJu.png" alt="Image of a isometric 3D medieval city"></div>
            <div class="divider divider-horizontal divider-secondary rounded-full opacity-40 my-2 mx-8"></div>
            <div class="flex flex-col justify-center w-full">
                <h1 class="pl-1 font-bold text-xl mb-0">Tabletop Support</h1>
                <p class="my-4 ml-1">{{'tabletop.description' | translate }}</p>
                <div class="flex flex-row">
                    <div class="badge badge-primary">React</div>
                    <div class="badge badge-primary mx-2">JavaScript</div>
                    <div class="badge badge-primary">Electron</div>
                </div>
                <div class="flex flex-row gap-2">
                    <a href="https://github.com/PedroVMLopes/desktop-companion" target="_blank">
                        <button class="mt-4 btn btn-secondary text-base-300"><fa-icon [icon]="faGithub" class="text-xl"></fa-icon> {{'repository' | translate }} </button>
                    </a>
                    <div class="tooltip tooltip-bottom" data-tip="Google Drive Link">
                        <a href="https://drive.google.com/drive/folders/1ngA243r2AfNMAHVmCo6PaA6PJc0yROEc" target="_blank">
                            <button class="mt-4 btn btn-secondary text-base-300">Download</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabletopDescriptionBoxes" class="grid grid-cols-1 lg:grid-cols-3 gap-4">
            <div tabindex="0" class="collapse bg-secondary text-secondary-content h-min shadow-xl">
                <div class="collapse-title font-semibold text-center text-lg px-0">{{'tabletop.descriptionBoxes.mainFeatures.title' | translate }}</div>
                <div class="collapse-content text-sm">
                  Click the "Sign Up" button in the top right corner and follow the registration process.
                </div>
            </div>
            <div tabindex="1" class="collapse bg-secondary text-secondary-content h-min shadow-xl">
                <div class="collapse-title font-semibold text-center text-lg px-0">{{'tabletop.descriptionBoxes.devNotes.title' | translate }}</div>
                <div class="collapse-content text-sm">
                  Click the "Sign Up" button in the top right corner and follow the registration process.
                </div>
            </div>
            <div tabindex="2" class="collapse bg-secondary text-secondary-content h-min shadow-xl">
                <div class="collapse-title font-semibold text-center text-lg px-0">{{'tabletop.descriptionBoxes.toolsUsed.title' | translate }}</div>
                <div class="collapse-content text-sm">
                  Click the "Sign Up" button in the top right corner and follow the registration process.
                </div>
            </div>
        </div>
        <div id="tabletopCard_bottom" class="grid grid-cols-1 lg:grid-cols-2 gap-4">
            <div id="chatBox" class="rounded-box flex flex-col justify-evenly shadow-2xl p-4">
                <div class="chat chat-end">
                    <div class="chat-image avatar">
                        <div class="w-10 rounded-full">
                            <img
                            alt="Image of Matthew Mercer"
                            src="https://assetsio.gnwcdn.com/matthew-mercer-critical-role-dm-screen.jpg?width=1200&height=1200&fit=crop&quality=100&format=png&enable=upscale&auto=webp" />
                        </div>
                    </div>
                    <div class="chat-header">
                      Dungeon Master
                    </div>
                    <div class="chat-bubble chat-bubble-secondary text-base-300">{{'tabletop.dialogue1' | translate }}</div>
                </div>
                <div class="chat chat-start">
                    <div class="chat-image avatar">
                        <div class="w-10 rounded-full">
                            <img
                                alt="Image of Dandelion, the bard"
                                src="https://image.api.playstation.com/cdn/UP4497/CUSA00527_00/yr7GhVqHHCQZJn6otkRIbwg231D32P2q.png?w=440&thumb=false" />
                        </div>
                    </div>
                    <div class="chat-header">
                        {{'tabletop.bardName' | translate }}
                        <time class="text-xs opacity-50">Lv3</time>
                    </div>
                    <div class="chat-bubble chat-bubble-secondary text-base-300">{{'tabletop.dialogue2' | translate }}</div>
                </div>
                <div class="chat chat-end mb-2">
                    <div class="chat-image avatar">
                        <div class="w-10 rounded-full">
                            <img
                            alt="Image of Matthew Mercer"
                            src="https://assetsio.gnwcdn.com/matthew-mercer-critical-role-dm-screen.jpg?width=1200&height=1200&fit=crop&quality=100&format=png&enable=upscale&auto=webp" />
                        </div>
                    </div>
                    <div class="chat-header">
                      Dungeon Master
                    </div>
                    <div class="chat-bubble chat-bubble-secondary text-base-300">{{'tabletop.dialogue3' | translate }}</div>
                </div>
            </div>
            <div id="characterCreator" class="rounded-3xl flex flex-col shadow-2xl bg-base-200">
                <div class="flex flex-row items-center justify-evenly bg-secondary text-secondary-content p-4 rounded-t-3xl">
                    <h1 class="font-semibold text-lg">{{'tabletop.npcCreationBtn' | translate }}</h1>
                    <button class="btn btn-accent text-lg px-3">  <fa-icon [icon]="faPersonCirclePlus" class="animate-pulse ml-1"></fa-icon></button>
                </div>
                <div class="flex justify-evenly">
                    <div class="flex w-full flex-col gap-4 my-3 px-4">
                        <div class="flex items-center gap-4">
                            <div class="skeleton h-16 w-16 shrink-0 rounded-full"></div>
                            <div class="flex flex-col gap-4">
                                <div class="skeleton h-4 w-20"></div>
                                <div class="skeleton h-4 w-28"></div>
                            </div>
                        </div>
                        <div class="skeleton h-32 w-full"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>