<div class="m-[4%] lg:m-[8%] flex flex-col items-center">
    <div class="text-left w-full">
        <div class="">
            <h1 class="text-3xl">Tecnologias Atuais</h1>
            <h2 class="mt-2">Aqui estão listadas as tecnologias que eu utilizo com mais frequência. </h2>
        </div>
        <div class="my-4 w-full justify-center grid gap-2 grid-cols-1">
            <div class="flex flex-row items-center shadow-xl p-2 rounded-box bg-base-100 border border-secondary">
                <p class="text-2xl rounded-box bg-neutral w-12 h-12 pt-2 text-secondary-content text-center"><fa-icon [icon]="faGlobe"></fa-icon></p>
                <div class="font-sans ml-4">
                    <h1 class="font-semibold">Web Fundamentals</h1>
                    <h2 class="text-sm">HTML, CSS, JavaScript (ES6+)</h2>
                </div>
            </div>
            <div class="flex flex-row items-center shadow-xl p-2 rounded-box bg-base-100 border border-neutral">
                <p class="text-2xl rounded-box bg-neutral w-12 h-12 pt-2 text-secondary-content text-center"><fa-icon [icon]="faFigma"></fa-icon></p>
                <div class="font-sans ml-4">
                    <h1 class="font-semibold">Figma</h1>
                    <h2 class="text-sm">Design Tool</h2>
                </div>
            </div>
            <div class="flex flex-row items-center shadow-xl p-2 rounded-box bg-base-100 border border-secondary">
                <p class="text-2xl rounded-box bg-neutral w-12 h-12 pt-2 text-secondary-content text-center"><fa-icon [icon]="faFigma"></fa-icon></p>
                <div class="font-sans ml-4">
                    <h1 class="font-semibold">Figma</h1>
                    <h2 class="text-sm">Design Tool</h2>
                </div>
            </div>
        </div>
        <button class="btn btn-primary rounded-full">Lista Completa</button>
    </div>

</div>