<div id="mainTechnologies" class="m-[4%] lg:m-[8%] flex flex-col items-center">
    <div class="text-left w-full">
        <div class="">
            <h1 class="text-3xl sm:text-4xl">{{'mainTechnologies.Title' | translate }}</h1>
            <h2 class="mt-2 font-sans">{{'mainTechnologies.description' | translate }}</h2>
        </div>
        <div class="my-6 w-full justify-center grid gap-2 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
            <div *ngFor="let tech of currentTech" class="flex flex-row items-center shadow-xl p-2 rounded-box bg-primary text-primary-content">
                <p class="text-2xl rounded-box bg-base-300 w-12 h-12 pt-2 text-base-content text-center shadow-md"><fa-icon [icon]="tech.icon"></fa-icon></p>
                <div class="font-sans ml-2">
                    <h1 class="font-semibold text-nowrap"> {{ tech.title }} </h1>
                    <h2 class="text-sm text-nowrap"> {{ tech.description }} </h2>
                </div>
            </div>
        </div>
        <!-- 
        <button class="btn btn-primary rounded-full">{{'mainTechnologies.fullListButton' | translate }}</button>
        -->
    </div>

</div>