@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Paprika&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap');

:root:has(input.theme-controller[value=customTheme]:checked),[data-theme="customTheme"] {
    color-scheme: "light";
    --color-base-100: oklch(98% 0.016 73.684);
    --color-base-200: oklch(95% 0.038 75.164);
    --color-base-300: oklch(90% 0.076 70.697);
    --color-base-content: oklch(26% 0.007 34.298);
    --color-primary: oklch(26% 0.051 172.552);
    --color-primary-content: oklch(95% 0.038 75.164);
    --color-secondary: oklch(21% 0.006 56.043);
    --color-secondary-content: oklch(95% 0.038 75.164);
    --color-accent: oklch(47% 0.137 46.201);
    --color-accent-content: oklch(95% 0.038 75.164);
    --color-neutral: oklch(25% 0.092 26.042);
    --color-neutral-content: oklch(95% 0.038 75.164);
    --color-info: oklch(52% 0.105 223.128);
    --color-info-content: oklch(95% 0.045 203.388);
    --color-success: oklch(44% 0.119 151.328);
    --color-success-content: oklch(96% 0.067 122.328);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(26% 0.007 34.298);
    --color-error: oklch(44% 0.177 26.899);
    --color-error-content: oklch(93% 0.032 17.717);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.28125rem;
    --size-field: 0.25rem;
    --border: 2px;
    --depth: 1;
    --noise: 1;
}

/* FONTS */
.shrikhand {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}
 
.paprika {
    font-family: "Paprika", system-ui;
    font-weight: 400;
    font-style: normal;
}

.newsreader {
    font-family: "Newsreader", serif;
    font-weight: 400;
    font-style: normal;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

@layer utilities {
    .custom-border {
        @apply border-l-2 border-t-2 border-b-[6px] border-r-[6px] border-secondary rounded-3xl shadow-lg p-4;
    }

    .thin-border {
        @apply border-2 border-secondary rounded-3xl shadow-lg p-4;
    }
}

.backgroundTabletop {
    background-image: url('../public/bg-bento-tabletop6.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}